body {
    align-items: center;
    background-image: url("./images/fondo.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    font-family: Verdana, Tahoma, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

a {
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 680px;
    width: 91%;
}

#image-container {
    height: 126px;
    width: 126px;
    margin-bottom: 2vh;
}

#image-container img {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-radius: 100%;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
}

#redes-container {
    font-size: 2.5em;
    margin: 1vh;
}

#redes-container i {
    padding: 0 0.4vw;
    color: rgb(37, 37, 37);
}

#redes-container i:hover {
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.09);
}

#enlaces-container {
    font-size: 1rem;
    text-align: center;
    width: 85%;
}

.tile {
    background-color: rgb(37, 37, 37);
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    margin: 7px;
    text-shadow: 0.3px 0.3px #fff;
    text-transform: uppercase;
    width: 100%;
}

.tile > :only-child {
    flex-grow: 1;
}

.tile:hover {
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
}

.icon {
    margin: 4px 8px;
    position: relative;
    height: 44px;
    width: 44px;;
}

.icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
}

.tile-share-button {
    background-color: rgb(52, 52, 52);
    border-radius: 20px;
    margin: 8px;
    position: relative;
    height: 40px;
    width: 40px;
}

.tile-share-button:active {
    background-color: rgb(87, 87, 87);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transform: scale(0.98);
}

.tile-share-button svg {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown {
    display: block;
}

.dropdown p {
    padding: 15px;
    margin: 7px;
}

.dropdown-contenido{
    display: none;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0 0 17px 17px;
    max-height: 265px;
    margin-bottom: 19px;
    overflow-y: auto;
}

.dropdown-contenido a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.show {
    display: block !important;
}

#dropdown-actividades a:hover {
    background-color: #ff9901;
    color: #fff;
}

#dropdown-ingreso a:hover {
    background-color: #ff9901;
    color: #fff;
}

#dropdown-whatsapp-buscador {
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    width: 100%;
}

#dropdown-whatsapp-buscador:focus {
    outline: 1px solid #ddd;
}

#dropdown-whatsapp-enlaces a:hover {
    background-color: #25d366;
}


#dropdown-facultad a:hover {
    color: #fff;
    background-color: rgb(177, 0, 17);
}
