body {
    margin: 0;
    padding: 0;
    background-image: url("./images/fondo.webp");
    color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    font-size: 25px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

footer {
    margin-top: 10%;
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.tile {
    width: 100%;
    margin: 7px;
    background-color: rgb(37, 37, 37);
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0.3px 0.3px #fff;
}

.tile:hover {
    transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
    transform: scale(1.02);
}

.tile-share-button {
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 20px;
    background-color: rgb(52, 52, 52);
}

.tile-share-button:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    background-color: rgb(87, 87, 87);
}

.tile-share-button svg {
    margin-left: 2px;
    margin-top: 8px;
    color: rgb(0, 0, 0);
}

.image-container {
    height: 126px;
    width: 126px;
    /* overflow: hidden; */
}

.image-container img {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-radius: 100%;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
}

#redes-container {
    font-size: 2.5em;
    padding: 6.8px 6.8px 6.8px 6.8px;
}

#redes-container i {
    color: rgb(37, 37, 37);
}

.versiones-container {
    height: inherit;
    width: inherit;
    max-width: inherit;
    text-align: center;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}

.icon svg {
    margin-top: 12px;
}

#dropdown-whatsapp {
    display: block;
    background-color: rgb(7, 94, 84);
    margin-bottom: 16px;
}

.dropbtn {
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /*TODO: Buscar como sintetizar:*/
    font-family: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-shadow: inherit;
    width: inherit;
    border-radius: inherit;
}

#myInput {
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    width: inherit;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.dropdown-content {
    position: relative;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0 0 17px 17px;
    /* overflow: hidden; */
    max-height: 265px;
    overflow-y:auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #25d366;
}

.dropdown-whatsapp-content {
    display: none;
}

.show {
    display: block !important;
}
